[submodule "python/introduction/functions-and-libraries-2"]
	path = python/introduction/functions-and-libraries-2
	url = git@github.com:the-stoa/functions-and-libraries-2.git
[submodule "python/introduction/loops"]
	path = python/introduction/loops
	url = https://github.com/the-stoa/loops
[submodule "python/introduction/recursion"]
	path = python/introduction/recursion
	url = git@github.com:the-stoa/recursion.git
[submodule "python/introduction/dictionaries"]
	path = python/introduction/dictionaries
	url = git@github.com:the-stoa/dictionaries.git
